<h1>Rides#show</h1>
<p>Find me in app/views/rides/show.html.erb</p>

<h1> Your driver is <%= @driver %> </h1>
<h2> Driving in a <%= @ride %> </h2>
<h3> Drop off is <%= @drop_off %> </h3>
<h3> Pick up is <%= @pick_up %> </h3>
